<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <form action="/products" method="POST">
      <input type="text" name="name" id="" placeholder="Enter item" />

      <input type="number" name="quantity" id="" placeholder="items number" />
      <input type="number" name="price" placeholder="add price of item" />
      <a href = "#"><button>Like</button></a>
      <button>submit</button>
    </form>
  </body>
</html>
<!-- 
name:{type:String,required:true},
quantity:Number,
price:Number,
likes:{type:Number, default:0} -->