<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>Handeling Forms 👇</title>
  </head>
  <body class="home-index">
    <div class="container">
      <header>
        <h1>Login to Account</h1>
      </header>
      <% if(error) {%>
      <p><%= error%></p>
      <%}%>
      <form action="/users/login" method="POST">
        <div class="form-control">
          <label for="text">Email</label>
          <input
            id="text"
            type="email"
            name="email"
            placeholder="email"
          />
          <small class="display"></small>
        </div>

        <div class="form-control error">
          <label for="text">Password</label>
          <input
            id="password"
            type="password"
            name="password"
            placeholder="Enter your password"
          />
          <small class="display"></small>
        </div>

        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>