<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <form action="/products/<%= product.id%>/edit" method="POST">
      <input
        type="text"
        name="name"
        id=""
        placeholder="Enter item"
        value="<%= product.name%>"
      />

      <input
        type="number"
        name="quantity"
        id=""
        placeholder="items number"
        value="<%= product.quantity%>"
      />
      <input
        type="number"
        name="price"
        placeholder="add price of item"
        value="<%= product.price%>"
      />
      <button>submit</button>
    </form>
  </body>
</html>